<div class="portfolioBlock">
    <div class="imgWrap">
        <img src="imgs/portfolio/siddiqui-mukkadas-wordMark.svg" class="centerVertical" alt="Mukkadas Siddiqui graphic designer wordmark.">
    </div>

    <h2 class="titleFont mediumFont center">My Wordmark</h2>

    <p class="bodyFont regFont">My wordmark is inspired from my Canadian/Arabic background. This is a very unique style that has not been done so far with a mix of both, Arabic and English.</p>

    <p class="bodyFont regFont">The wordmark comes together to create my first and last name. Although it’s unique, I find that it is hard for individuals who can only read english to grasp on to it. People who read Arabic and English grasp on to the concept very quickly.</p>
</div>