<div class="portfolioBlock">
    <div class="imgWrap">
        <img src="imgs/portfolio/siddiqui-mukkadas-lobato.jpg" class="centerVertical" alt="Lobato inspired poster design.">
    </div>

    <div class="textBlock">
        <h2 class="titleFont mediumFont center">Lobato Poster Design</h2>

        <p class="bodyFont regFont">Inspired to mimic the Pablo Lobato style illustration of, Zach Galifianakis(Left) &amp; Iron Mike Tyson (Right).</p>

        <p class="bodyFont regFont">Zack is one of my favourite movie stars, and Mike Tyson is one of my favourite boxers. This scene was inspired from the movie, ‘Hangover’ (by Todd Philips), so I made a funky looking poster, making an official match between Alain vs Tyson. I believe this is very successful piece of artwork, considering the theme.</p>
    </div>
</div>