<div class="portfolioBlock">
    <div class="imgWrap">
        <img src="imgs/portfolio/siddiqui-mukkadas-magazineSpread.jpg" class="centerVertical" alt="Magazine Layout - Four Incidents of Censorship">
    </div>

    <div class="textBlock">
        <h2 class="titleFont mediumFont center">Magazine Layout</h2>

        <p class="bodyFont regFont">For this design,I wanted to create a simple layout, which appealed to a great deal of people. A huge deal of time went into dealing with typographic design choices, such as the ‘kerning’ and ‘leading’.</p>

        <p class="bodyFont regFont">Layout and spacing of different the paragraphs create easy readable text. I think the outcome of this design was really successful because of it’s simplicity.</p>
    </div>
</div>