<div class="portfolioBlock">
    <div class="imgWrap">
        <img src="imgs/portfolio/siddiqui-mukkadas-rebranding.jpg" class="centerVertical" alt="Chips and Dairy Rebranding">
    </div>

    <div class="textBlock">
        <h2 class="titleFont mediumFont center">Chips and Dairy Rebranding</h2>

        <p class="bodyFont regFont">This was a re-branding assignment of a local business in Ottawa, Ontario. I chose ‘Chips and Dairy’, a Canadian/Chinese restaurant.</p>

        <p class="bodyFont regFont">The challenge I faced was how to show the identity of both cultures in the logo of the restaurant. Therefore, I went with a very clean western type face, while the ampersand sign mimics a soup bowl with chopsticks. Thus representing the Asian culture.</p>

        <p class="bodyFont regFont">The outcome was very successful, as it shows both the Chinese and Canadian cultures in the brand, yet very simple.</p>
    </div>
</div>