<div class="JeqBlock whiteBkr">
    <div class="imgWrap">
        <img src="imgs/portfolio/siddiqui-mukkadas-mariannesBoutique.jpg" class="centerVertical" alt="Marianne's Boutique Rebranding">
    </div>
</div>

<div class="JeqBlock whiteBkr">
    <div class="textBlock">
        <h2 class="titleFont mediumFont center">Marianne's Boutique Rebranding</h2>

        <p class="bodyFont regFont">Marianne’s boutique is a Ottawa based women’s clothing store, they cary a wide range of women’s bra’s in all shapes and sizes, and specialize in mastectomy.</p>

        <p class="bodyFont regFont">The client was unable to successfully market themselves, and had a very out dated website, which was not clean nor responsive. After some research and speaking with the clients, staff and customers, I decided that the best way to solve their problem, was to redesign their website.</p>

        <p class="bodyFont regFont">After redesigning the website, the new design is genuine to the brand.</p>
    </div>
</div>