<div class="portfolioBlock">
    <div class="imgWrap">
        <img src="imgs/portfolio/siddiqui-mukkadas-ux-ui.jpg" class="centerVertical" alt="User Experience and User Interface Design - On Beat App">
    </div>

    <div class="textBlock">
        <h2 class="titleFont mediumFont center">On-Beat UX &#45; UI Design</h2>

        <p class="bodyFont regFont">OnBeat is a conceptual app that works with a wearable watch extension to track your heart on the go. I was inspired to do this after my mother suffered a heart attack.</p>

        <p class="bodyFont regFont">Doctors couldn’t identify why she was randomly having chest pains from time to time. One of Onbeat’s functionality is to track your heart, on the go. When the wearable detects any irregular pulse, a module will pop up, and ask you to fill in the input.</p>

        <p class="bodyFont regFont">This data can be shared with your doctor for better assessment. The UI is very clean and easy to use. The app is meant for all users, even elders.</p>
    </div>
</div>