<div class="imgBox centerVertical">
    <img src="imgs/siddiqui-mukkadas-square.jpg" alt="Mukkadas Siddiqui Portrait">
</div>

<div class="textBox">
    <h2 class="titleFont mediumFont wordSpacing">Hello,<br/> I'm Mukkadas Siddiqui. A Graphic Designer that specializes in <br/>UI &ndash; User Interface <br/>UX &ndash; User Experience.</h2>
    
    
    <p>I prefer to be called Sid.</p>

    <p>Less is more, I am focused on purposeful design keeping my vision simple. The brand and experience has to be engaging to the user. I strive to learn from my mistakes so I can become a better designer.</p>
</div>