<h2 class="titleFont mediumType center">Send me an email</h2>

<form id="contactform" action="https://formspree.io/siddiquimukkadas@gmail.com" method="POST">
    <div>
        <label class="bodyFont">Your Name:</label>
        <input type="text" name="name" class="form-control">
    </div>
    <div>
        <label class="bodyFont">Your Email:</label>
        <input type="email" name="_replyto" class="form-control">
    </div>

    <div>
        <label class="bodyFont">Your Message:</label>
        <textarea name="description" rows="6"></textarea>
    </div>

    <!--div class="g-recaptcha" data-sitekey="6Lc5uhYUAAAAALyVAao8CQv6V8QoZ788IEBBOW2e"></div-->

    <button id="sendMessage" class="bodyFont white mediumFont">Send</button>
</form>

<ul id="socialBtns" class="center">
    <li>
        <a href="https://www.behance.net/Sidd00432704" target="_blank">
            <img src="imgs/icons/behance.svg" alt="Behance logo icon.">
        </a>
    </li>
    <li>
        <a href="https://github.com/sidd0043" target="_blank">
            <img src="imgs/icons/github.svg" alt="Github Logo icon.">
        </a>
    </li>
    <li>
        <a href="https://ca.linkedin.com/in/mukkadas-siddiqui-59ab20b1" target="_blank">
            <img src="imgs/icons/linkedIn.svg" alt="Linkedin logo icon.">
        </a>
    </li>
</ul>