<a href="#portfolio/ux-ui-design" class="portfolioBlock">
    <div class="imgWrap">
        <img src="imgs/portfolio/siddiqui-mukkadas-ux-ui.jpg" class="centerVertical" alt="User Experience and User Interface Design - On Beat App">
    </div>
</a>

<a href="#portfolio/rebranding-one" class="portfolioBlock">
    <div class="imgWrap">
        <img src="imgs/portfolio/siddiqui-mukkadas-mariannesBoutique.jpg" class="centerVertical" alt="Marianne's Boutique Rebranding">
    </div>
</a>
<a href="#portfolio/rebranding-two" class="portfolioBlock">
    <div class="imgWrap">
        <img src="imgs/portfolio/siddiqui-mukkadas-rebranding.jpg" class="centerVertical" alt="Chips and Dairy Rebranding">
    </div>
</a>
<a href="#portfolio/magazine-layout" class="portfolioBlock">
    <div class="imgWrap">
        <img src="imgs/portfolio/siddiqui-mukkadas-magazineSpread.jpg" class="centerVertical" alt="Magazine Layout - Four Incidents of Censorship">
    </div>
</a>

<a href="#portfolio/four" class="portfolioBlock">
    <div class="imgWrap">
        <img src="imgs/portfolio/siddiqui-mukkadas-wordMark.svg" class="centerVertical" alt="Wordmark - Mukkadas Siddiqui">
    </div>
</a>

<a href="#portfolio/five" class="portfolioBlock">
    <div class="imgWrap">
        <img src="imgs/portfolio/siddiqui-mukkadas-wordMark.svg" class="centerVertical" alt="Mukkadas Siddiqui graphic designer wordmark.">
    </div>
</a>
<a href="#portfolio/lobato-design" class="portfolioBlock">
    <div class="imgWrap">
        <img src="imgs/portfolio/siddiqui-mukkadas-lobato.jpg" class="centerVertical" alt="Lobato inspired poster design.">
    </div>
</a>