<div id="mobileResume">
    <div class="banner">
        <h2 class="titleFont center">
            <span>Mukkadas Siddiqui</span>
            <br/>
            <span>Graphic Designer</span>
        </h2>
    </div>

    <div class="resumeBlock">
        <div>
            <h3 class="titleFont">About</h3>
            <p class="bodyFont">Salam, Namaste and hello. My name is Mukkadas, but I prefer to be called Sid. Less is more, I am focused on purposeful design keeping my vision simple. The brand and experience has to be engaging to the user. I strive to learn from my mistakes so I can become a better designer.</p>
        </div>
    </div>

    <div class="resumeBlock">
        <div>
            <h3 class="titleFont">Software<div class="arrowDown"></div></h3>

            <ul class="bodyFont">
                <li class="subTitle">Design</li>
                <li>Adobe Illustrator</li>
                <li>Photoshop</li>
                <li>Indesign</li>
                <li>After Effects</li>
                <li>Lightroom</li>
                <li>Adobe XD</li>
            </ul>

            <div class="line"></div>

            <ul class="bodyFont">
                <li class="subTitle">Coding</li>
                <li>Github</li>
                <li>Brackets</li>
                <li>Atom</li>
                <li>InVision</li>
                <li>Basic HTML &amp; CSS</li>
            </ul>

            <div class="line"></div>

            <ul class="bodyFont">
                <li class="subTitle">Other</li>
                <li>Google Docs</li>
                <li>Microsoft Word/Pages</li>
                <li>Microsoft Powerpoint/Keynote</li>
            </ul>
        </div>
    </div>

    <div class="resumeBlock">
        <div>
            <h3 class="titleFont">Education<div class="arrowDown"></div></h3>

            <ul>
                <li class="subTitle">Post Secondary &#45; Graphic Design Diploma</li>
                <li>Ottawa, ON</li>
                <li>Algonquin College</li>
                <li>2013 &#45; 2017</li>
            </ul>

            <div class="line"></div>

            <ul>
                <li class="subTitle">General Arts &amp; Science</li>
                <li>Ottawa, ON</li>
                <li>Algonquin College</li>
                <li>2012 &#45; 2013</li>
            </ul>

            <div class="line"></div>

            <ul>
                <li class="subTitle">Secondary School</li>
                <li>Ottawa, ON</li>
                <li>Bell High School</li>
                <li>2008 &#45; 2012</li>
            </ul>
        </div>
    </div>

    <div class="resumeBlock">
        <div>
            <h3 class="titleFont">Activities<div class="arrowDown"></div></h3>
        </div>
    </div>

    <div class="resumeBlock">
        <div>
            <h3 class="titleFont">Contact<div class="arrowDown"></div></h3>
            <p class="ssN">Ottawa, ON, Canada</p>
            <p class="ssN">+1 (613) 869-5343</p>
            <p class="ssN">siddiquimukkadas@gmail.com</p>
            <p class="ssN">siddiquimukkadas.ca</p>
        </div>
    </div>
</div>

<div id="notMobileResume">
    <iframe src="imgs/pdf/siddiqui-mukkadas-resume.pdf" style="width:718px; height:700px;" frameborder="0"></iframe>
</div>